@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Slab', sans-serif;
}

.app {
  display:flex;
  position:relative;
}

/* scroll bar styling */
::-webkit-scrollbar {
  width:10px;
}

/* Track styling */
::-webkit-scrollbar-track{
  /* gray color */
  background:#e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
